/* unidad de medida rem (relarivo al html
1 rem=16px*/
p{
    font-size: 1rem;
}


/*unidad de medida "em" (relativa al contenedor que contiene a las etiquetas*/


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: brown;
}
/*estilos del header */

header h1{
    text-align: center;
}

/*estilos del menu*/

nav ul{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

nav ul li{
    background-color: whitesmoke;
    border-radius: 1rem;
    padding: 0.3rem;
}
/* estilos de main*/
.mainNosotros{
    display: grid;
    grid-template-areas: "mainP mainP"
                        "imagen1 imagen2"
                        "imagen3 imagen4"
                        "parrafo parrafo";
}

.sectionNosotros{
    display: none;
}
.mainP{
    grid-area: none;
}









/*propiedades del footer*/
footer p{
    text-align: center;
}


/*mq*/

@media screen and (min-width: 600px){

    
    
}


